@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--color-zinc-200);
  --color-foreground: var(--color-zinc-950);
  --color-primary: var(--color-purple-600);
  --color-destructive: var(--color-red-600);
  --color-warning: var(--color-orange-600);
  --color-muted: var(--color-zinc-300);
  --color-muted-foreground: var(--color-zinc-600);

  --shadow-primary: 1px 3px 6px 2px var(--color-primary),
    -1px 3px 6px 2px var(--color-primary);

  --color-border: var(--color-zinc-200);
  --color-shadow: var(--color-red-600);
  --color-highlight: rgba(255, 255, 255, 1);
}

@layer theme {
  .dark {
    --color-background: var(--color-zinc-900);
    --color-foreground: var(--color-zinc-100);
    --color-primary: oklch(0.6755 0.1765 252.2592);
    --color-destructive: var(--color-red-400);
    --color-warning: var(--color-orange-400);
    --color-muted: var(--color-zinc-700);
    --color-muted-foreground: var(--color-zinc-400);

    --color-border: var(--color-zinc-950);
    --color-shadow: var(--color-red-600);
    --color-highlight: rgba(255, 255, 255, 0.2);
  }
}

@layer base {
  html,
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", "Noto Sans SC", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      sans-serif;
  }

  :root {
    --text-shadow-blur: 1px 1px 1px currentColor, -1px -1px 1px currentColor,
      -1px 1px 1px currentColor, 1px -1px 1px currentColor;

    --shadow-raised: 1px 3px 6px currentColor, -1px 3px 6px currentColor;
    --shadow-inset: 1px 3px 12px 2px currentColor,
      -1px 3px 12px 2px currentColor;
  }
  .dark {
    --text-shadow-blur: 1px 1px 5px currentColor, -1px -1px 5px currentColor,
      -1px 1px 5px currentColor, 1px -1px 5px currentColor;

    --shadow-raised: 2px 3px 6px currentColor, -2px 3px 6px currentColor;
    --shadow-inset: 2px 3px 12px 2px currentColor,
      -2px 3px 12px 2px currentColor;
  }
}

@layer components {
  .glass-morph {
    @apply backdrop-blur-md border border-foreground/5 shadow-xs inset-shadow-sm inset-shadow-white/90 overflow-hidden before:content-[''] before:absolute before:inset-0 before:pointer-events-none before:bg-radial-[at_100%_0%] before:from-white/40 before:via-white/10 before:to-transparent before:opacity-40;
    /* @apply backdrop-blur-[2px] bg-white/5 border border-white/10 shadow-sm shadow-black/5 overflow-hidden relative before:content-['']  before:absolute before:inset-0  before:pointer-events-none before:bg-[radial-gradient(ellipse_at_95%_5%,rgba(255,255,255,0.18)_0%,transparent_60%)] before:opacity-40; */
  }
}
